@CHARSET "UTF-8";

.LogS {
	float:left;
	vertical-align:middle; 
	padding-top:18px;
}
	 	
.UserHead {
	padding-top:1px;
	padding-right:5px; 
}

.FrameSearch {
	height:28px;
	line-height:28px;
	float:left; 
	margin-top:10px;
	width:250px; 
	margin-left:0px;
	outline:none;
	border-left:1px solid #AD1E08;
	border-top:1px solid #AD1E08;
	border-bottom:1px solid #AD1E08;
	background-color:#fefefe;
	width:250px;
	
	-webkit-border-top-left-radius:5px;    
    -moz-border-top-left-radius:5px;     
    border-top-left-radius: 5px; 
    
    -webkit-border-bottom-left-radius:5px;    
    -moz-border-bottom-left-radius:5px;     
    border-bottom-left-radius: 5px; 
}

.inputRegRow2 {
	width:222px;
	height:28px; 
	border:none;
	float:left;
	padding-left:5px;
	outline:none;
	vertical-align:middle;
	background:transparent;
	/*background:red;*/
	color:#999;
}

.IconSearch {
	float:left;
	vertical-align:middle; 
	margin-top:10px;
	cursor:pointer;
}

.BtnAskPro {
	-webkit-border-radius:5px;    
    -moz-border-radius:5px;     
    border-radius: 5px; 
    height:20px;
    line-height:20px;
    color:#333;
    background-color:#EAEAEB;
    margin-top:13px;
    margin-left:580px;
    padding:2px;
    width:50px;
    float:left;
    text-align:center;
    font-size:10.5pt;
    cursor:pointer;
}

.Help {
	float:right;
	padding-top:12px;
}

.QuestionTitle {
	font-size:12pt;
	padding-bottom:5px;
	padding-top:5px;
}

.QuestionListTitle {
	font-size:12pt;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border:1px solid #f3f3f3;
	margin-top:15px;
	background-color:#fcfcfc;
}

.QuestionNoteArea {
	border-right:1px solid #f3f3f3;
	border-left:1px solid #f3f3f3;
	border-bottom:1px solid #f3f3f3;
}

.QuestionInfo {
	height:24px;
	line-height:24px;
	padding-bottom:5px;
}


.QuestionListTitle a:link {color:#0052C2;text-decoration: none;}
.QuestionListTitle a:visited {color:#0052C2;text-decoration: none;}
.QuestionListTitle a:hover {color:#ff3535;text-decoration:underline;}
.QuestionListTitle a:active {color:#ff3535;text-decoration: underline;}

.QuestionTitle a:link {color:#0052C2;text-decoration: none;}
.QuestionTitle a:visited {color:#0052C2;text-decoration: none;}
.QuestionTitle a:hover {color:#ff3535;text-decoration:underline;}
.QuestionTitle a:active {color:#ff3535;text-decoration: underline;}

.QuestionDetailTitle {
	font-size:12pt;
	padding-bottom:5px;
	padding-top:25px;
	padding-left:5px;
}

.QuestionPayInfo {
	border-top:1px solid #f3f3f3; 
	border-left:1px solid #f3f3f3; 
	border-right:1px solid #f3f3f3; 
	padding:5px;
	background-color:#fcfcfc;
	height:30px;
	line-height:30px;
}

.QuestionExInfo { 
	border-left:1px solid #f3f3f3; 
	border-right:1px solid #f3f3f3; 
	padding:2px;
	background-color:#fdfdfd;
	height:28px;
	line-height:28px;
}

.QuestionHeadArea {
	border:1px solid #f3f3f3; 
	background-color:#fcfcfc;
}

.QuestionerInfo {
	width:140px;
	border-right:1px solid #f3f3f3;
	background-color:#f6f6f6;
	padding:5px;
	text-align:center;
	margin-left:5px;
}

.Questioner {
	width:140px;
	text-align:left;
}

.QuestionPrice {
	color:#ED0E40;
}

.AskProLine {
	height:1px; 
	background-color:#f3f3f3;
	margin-top:5px;
	margin-bottom:20px;
	float:left; 
	width:100%;
	clear:both;
}

.PriceArea {width:120px;float:left;}

.DtPub {
	width:220px;
	font-size:9pt;
	color:#999; 
	float:left;
}

.DtRest {
	width:250px;
	padding-left:20px;
	float:left;
	color:#999;
}

.DtRestValue {
	color:#33f;
}

.DtAnswer {
	width:220px;  
	color:#999;
	font-size:9pt;
}

.HeadImageArea {
	padding-bottom:5px;
}

.HeadImage {
	width:40px;	
	border-radius: 5px; 
}

.HeadImage2 {
	height:28px;	
	border-radius: 5px; 
	padding-left:5px;
	padding-right:5px;
}

.AnswerList {
	clear:both;	
	border:1px solid #f3f3f3;
	background-color:#fcfcfc;
}

.AnswerHead {
	border-left:1px solid #f3f3f3;
	border-top:1px solid #f3f3f3;
	border-right:1px solid #f3f3f3;
	height:30px;
	line-height:30px;
	margin-top:5px;
	width:150px;
	text-align:center;
	float:left;
	clear:both;
}

.AnswerListLine {
	height:1px; 
	background-color:#fcfcfc;
	float:left; 
	width:100%;
	clear:both;
}

.AskProCon {
	padding:5px;
	font-size:10.5pt;
}

.BtnAnswer {
	border:1px solid #333;
	padding-left:5px;
	padding-right:5px;
	-webkit-border-radius:2px;    
    -moz-border-radius:2px;     
    border-radius: 2px; 
    width:80px;
    float:right;
    background-color:#aaaaff;
    height:24px;
    line-height:24px;
    text-align:center;
    color:#fff;
    cursor:pointer;
    margin-top:3px;
}

.BtnAnswer:hover {
    background-color:#9999ff;
}


.BtnPayHandle {
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    border:1px solid #f3f3f3;
    font-size:9pt;
    padding:2px 4px 2px 4px;
    color:#fff;
    background-color:#4AACFF;
}

.DlgPopup {width:700px;}

.GivePay {float:right;}
.InputPay {width:60px; border:1px solid #f63; height:24px; line-height:24px;}
.btnPay {
	float:right;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:15px;
	height:34px;
	width:80px;
	font-size:12pt;
	color:#fff;
	background-color:#f63;
	font-family:微软雅黑,Trebuchets MS,Verdana,黑体,华文细黑;
	font-weight:bold; 
	border:1px solid #930;
	-webkit-border-radius:5px;    
    -moz-border-radius:5px;     
    border-radius: 5px; 
	}
